fastapi
uvicorn[standard]
pydantic
pydantic[email]
PyYAML
pandas
plotly
dash
dash-bootstrap-components
joblib
httpx
python-multipart
loguru
supabase
python-dotenv 
psycopg2
passlib[bcrypt]
python-jose[cryptography]